.midSection {
  display: flex;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
.leftbar {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.displayContainer {
  display: flex;
  padding: 1.7vw 0 1.7vw 0;
}

/* .displayContainer .smallBoxContainer {
} */
.displayContainer .smallBox {
  flex-basis: 30%;
  transition: 0.5s all ease;

  background-color: var(--main_color3);
  color: var(--navlink_bg);
}
.rightbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex-basis: 35%;
}

.rightbar .forecast {
  display: flex;
  justify-content: space-evenly;
}
.rightbar .weekForecast {
  display: flex;
  flex-direction: column;
}
