.forecasts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
.forecasts::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* top: 0; */
  right: 0;
  bottom: -10px;
  height: 1px;
  background-color: var(--main_bg);
}
.forecasts .info {
  text-align: center;
  display: flex;
  align-items: center;
}
.forecasts img {
  width: 2.5vw;
  height: 2.5vw;
  margin-right: 10px;
}

.forecasts span {
  color: var(--main_text);
}
